langchain==0.2.16
langchain-community==0.2.16
langchain-groq==0.1.9
langchain-huggingface==0.0.3
langgraph==0.2.20
chromadb==0.5.5
pymupdf==1.24.9
fastapi==0.112.2
uvicorn==0.30.6
streamlit==1.38.0
pydantic==2.8.2
python-dotenv==1.0.1
sentence-transformers==3.0.1
duckduckgo-search==6.2.10
nest_asyncio==1.6.0
pyngrok==7.2.0
python-multipart==0.0.9
